name: Docker Image CI

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build the ChatApp build  image
        run: cd chatapp && docker build -t chatapp-build-image -f Dockerfile-make-build-image .

      - name: Build the Docker image
        run: cd chatapp && docker build -t chatapp-prod:$(date +%s) -f Dockerfile .
