name: Docker Image CI

on:
  pull_request:
    branches:
      - master

jobs:
  test_and_build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build the build  image
      working-directory: chatapp
      run: docker build -t chatapp-build-image -f Dockerfile-make-build-image .
      
    - name: Run tests
      working-directory: chatapp
      run: docker build -t chatapp-test --progress=plain --target test .

    - name: Build the Docker image
      working-directory: chatapp
      run: docker build -t chatapp-production -f Dockerfile .
